html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
}

#wrapper {
  padding-top: 70px;
  padding-bottom: 50px;
  min-height: 100%;
  position: relative;
}

footer#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  opacity: 0.7;
  font-size: 14px;
}

h5 {
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
  color: white !important;
}

.switch {
  zoom: 0.6;
  display: inline-block;
  vertical-align: middle;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #ddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
}

input.cmn-toggle-round + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #ddd;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #fff;
  border-radius: 100%;
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 40px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #ddd;
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 36px;
  border-radius: 36px;
  border-style: solid;
  border-width: 2px;
  border-color: #8ce196;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}

.timeinput {
  min-width: 3em;
  max-width: 3em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}